<!DOCTYPE html>
<html lang="ko"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <!--    우리가 정의한 css 파일, 부트에서 resources > static , 시스템에 자동 경로 설정-->
    <link th:href="@{/css/styles.css}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
          crossorigin="anonymous">
</head>

<body>

<!--확인1-->
<div class="container-fluid">
    <div class="row">
        <!--    NavBar 가져와서 적용해보기-->
        <div class="col">
            <nav class="navbar navbar-expand-lg " style="background-color: #b0f89d;">

                <div class="container-fluid">
                    <a class="navbar-brand" href="/board/list">목록가기</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarTogglerDemo02"
                            aria-controls="navbarTogglerDemo02" aria-expanded="false"
                            aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse " id="navbarTogglerDemo02">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0 " >
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="/board/register">글작성</a>
                            </li>
                            <!--    로그인한 유저를 표시 해보기-->

                            <!--    로그인시 로그아웃 표시 해보기-->


                            <!--    로그인시 권한별로 어드민 페이지 표시 해보기-->
                            <!--                                    타임리프의 기능 중에 sec 접두어, 기능 따로 도구를 설치-->


                            <li class="nav-item ">
                                <a class="nav-link" href="#"></a>
                            </li>

                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!--  Navbar 종료-->
    <script>

    </script>


    <div layout:fragment="content">
        <p>블록1 , content 영역</p>
    </div>
</div>
<!--    NavBar 닫는 부분-->


<!--헤더, 검색창, 본문 하나로 -->
</div>
<!--우리가 정의 js 파일 경로-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

<th:block layout:fragment="script">

</th:block>

<div class="row footer">
    <div class="row fixed-bottom" style="z-index: -100">
        <footer class="py-1 my-1">
            <p class="text-center text-muted">Footer</p>
        </footer>
    </div>

</div>
<!--jQuery 추가-->


</body>
</html>











